doctype html
html
  head
    title Rockz Dance Academy 
    block scripts
    block style 
  body
    nav#navbar 
        ul 
           div#logo
                img(src="/static/logo.jpg")
                |RDA  
           li #[a(href="/") Home]
           li #[a(href="/") About]
           li #[a(href="/") Services]
           li #[a(href="/") Class info] 
           li #[a(href="/contact") Contact Us]

    block content
    footer#footer 
        |Copyright 2023 © RockzDanceAcademy | All Rights Reserved.     